{% extends 'base.html' %}

{% block page_title %}About Car Deal Tracker{% endblock %}
{% block desc_meta %}I created Car Deal Tracker after getting ripped off. I promised myself I wouldn't let the same thing happen to you.{% endblock %}


{% block content %}
{% load static %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->

    <!-- Masthead Heading-->
    <h1 class="age-section-heading text-center text-uppercase mb-0">About Car Deal Tracker</h1>

  </div>


</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container  align-items-left flex-column">
    <!-- Portfolio Section Heading-->

    


    <h3>Why did I create this site?</h3>
    <p><img loading="lazy" src="{% static 'assets/img/fordedge.png' %}" class="rounded float-start px-2" width="400" height="246" alt="2013 Ford Edge" />I'm Jessica Lake and this is Car Deal Tracker. </p>

    <p>This website is new but the story goes way back. </p>


    <p>A number of years ago I bought my
      very first brand new vehicle. It was a bright white 2013 Ford Edge. I bought it in 2014 and negotiated a good deal, or so I thought. </p>

    <p>When I sat down with a glass of wine to celebrate and started reviewing my signed papers I realized that I had been &ldquo;tricked&rdquo; into paying a lot more than I originally agreed.
    </p>

    <p>Now it's my personal mission to make sure this does not happen to you. </p>

    <p>This is exactly what happened. Note I've rounded the numbers for readability. </p>

    <h4>Purchase Terms</h4>
    <p>The sticker price on the car was $45,000. We agreed that I would pay $36,000 financed over 72 months at 0.99%. </p>

    <h4>Trade In</h4>
    <p>I agreed to trade in a Honda Civic for $10,000. I could have fetched more selling privately but I was willing to do it for the convenience and extra GST savings. </p>

    <h4>Agreement</h4>
    <p>It seemed straightforward - I'd be financing $26,000 plus tax for 6 years at .99%.</p>

    <h3>What happened?</h3>
    <p>I should have never signed on the dotted line. The finance manager was SLICK and I couldn't comprehend the impact of some of these charges he slipped in. Especially over 72 months of bi-weekly
      payments.</p>
    <p> </p>

    <ol>
      <li aria-level="1">
        <p role="presentation">The finance manager indicated the trade in value was after tax (there is 13% sales tax in Manitoba) so I received the equivalent of about $8800 for the trade in.
          The salesman never mentioned this. </p>
      </li>
    </ol>

    <ol start="2">
      <li aria-level="1">
        <p role="presentation">I still don't know exactly what magic the finance manager pulled but the $9000 off sticker I thought I negotiated was a rebate that I had to pay tax on. There was
          no earlier mention of this.</p>
      </li>
    </ol>

    <ol start="3">
      <li aria-level="1">
        <p role="presentation"> The 0.99% financing was only available for 5 year loans so I had to pay 1.99%. This was an &ldquo;honest&rdquo; mistake. </p>
      </li>
    </ol>

    <ol start="4">
      <li aria-level="1">
        <p role="presentation">I am embarrassed to admit this but I agreed to an extended warranty despite the fact that I only drive 8,000 to 10,000 kms per year. I bought this, I should not
          have. </p>
      </li>
    </ol>

    <ol start="5">
      <li aria-level="1">
        <p role="presentation">And the worst part is the &ldquo;mandatory tire insurance and glass etching&rdquo; I bought for $800.I threatened to walk out, he said he understood but that it was
          mandatory so he couldn't do anything about it. Guess what? I didn't walk out. </p>
      </li>
    </ol>

    <p>I was excited about my new ride but when I got home figured out exactly what I signed I was embarrassed and sick to my stomach.</p>

    <p>Here is a table illustrating the deal I agreed to with my salesman vs. what the finance manager &ldquo;got me for&rdquo;. Check out the total amount vs. what I originally expected.
    </p>

    <img loading="lazy" src="{% static 'assets/img/aboutus-math.png' %}" width="733" height="282" alt="Table showing how much I over paid for my car" />

    <br /><br />
    <h3>So now what?</h3>
    <p>I am here to educate you on how to get the best deal possible on a car. </p>

    <p>Unfortunately, it is complicated and there is a lot more to it than agreeing on a price with your salesperson. </p>

    <h3>Car Deal Tracker</h3>
    <p>Tracks manufacturer incentives (also called offers, rebates, discounts). This is important because it's by far the easiest way to save a significant amount of money on your next
      vehicle purchase. </p>

    <p>Car Deal Tracker will let you know if the current dealer incentives are competitive with what has been offered in the past. I also have all sorts of buying guides and tips that will
      prepare you to deal with the salesperson.</p>

    <p>Most importantly, I will also arm you with all the information you need to ensure you don't get taken advantage of in the finance managers office.</p>

    <img loading="lazy" src="{% static 'assets/img/jessicalakesmall.png'%}" class="rounded float-start px-2" width="200" height="253"
    alt="Jessica Lake Selfie" />
    <h3>How was this site born?</h3>
    <p>Thanks to Covid, I was locked at home for a few months. I decided to enroll in some online courses. One of the courses I took was <a href="https://cs50.harvard.edu/college/2021/fall/">Harvard's
        CS50</a> (it’s 100% free, incredibly awesome, but brutally hard by the way) where I had to create a Web application for my final
      project - Car Deal Tracker was born!</p>

    <h3>A little more about me</h3>
    
    <p>I am married with two kids. We recently bought a new truck - a GMC Sierra (which we got an awesome deal on) and we use it to spend our summer months camping and
      exploring the outdoors and to battle the weather and snow in the Winter. </p>


    

  </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"> </i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">It doesn't get much simplier. We keep track of incentives offered by dealers in Canada so
          that you can ensure that you are timing your purchase correctly.</p>
      </div>
      <div class="col-lg-4 ml-auto">
        <p class="lead">It doesn't matter if you are looking for good finance rates, cash deals, or lease terms. We keep track of it all.<br>
          Just check the history to see how frequently it's offered and if it is worth waiting for.</p>
      </div>
      <div class="col-lg-4 ml-auto">
        <p class="lead">Oh, and of course this is 100% FREE. It was made with LOVE because I got pissed off at slick
          sales man trying to fleece me Screw their tactics</p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4"> <a class="btn btn-xl btn-outline-light" href="makes/"> <i class="fas fa-download mr-2"></i> Let's Save! </a> </div>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"> <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a> </div>

{% endblock %}