{% extends 'base.html' %}

{% block page_title %}Car Deal Tracker - Compare this Months Deal to Past Offers{% endblock %}
{% block desc_meta %}Curious what kind of deals have been offered on new cars in Canada in the past? We've been tracking them.{% endblock %}

{% block content %} 
{% load static %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="{% static 'gmc.png' %}" alt="" />
    <!-- Masthead Heading-->
    <h1 class="age-section-heading text-center text-uppercase mb-0">When is the best time to buy a new car in Canada?</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">The best time to buy a new car is when dealer rebates are at their peak. These rebates come directly off the MSRP and you can still negotiate. </p><br>
    <p class="masthead-subheading font-weight-light mb-0">Car Deal Tracker keeps track of all the dealer rebates so you can compare current deals to those that have been offered in the past. This will help you decide if now is the time to buy or if you should wait.</p>
    <div class="text-center mt-4"> <a class="btn btn-xl btn-outline-light" href="/makes/"> <i class=""></i>
        View Incentive History by Make </a> </div>
  </div>


</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What others are saying?</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"> </i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto justify-content-center h-100 w-100"
          style="padding: 5px; border: black solid;" data-toggle="modal" data-target="#portfolioModal1"> A brilliant
          idea. I usually wait until there are good factory incentive before buying a car but it's normally hard to know what good is. Now I know. <br /><br /><strong>- Shawn W.</strong> </div>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto justify-content-center h-100 w-100" style="padding: 5px;border: black solid;"
          data-toggle="modal" data-target="#portfolioModal1">Waited for deal because I saw that last fall Chevy had
          awesome incentives on trucks. The wait saved me about $6000.<br /><br /><strong>- Mike P.</strong></strong>
        </div>
      </div>
      <!-- Portfolio Item 3-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto justify-content-center h-100 w-100" style="padding: 5px; border: solid black"
          data-toggle="modal" data-target="#portfolioModal1"> When incentives are good I direct my customers here so
          they understand that they are actually get a good deal and I am not just speaking salespeak. It helps build trust and it helps me close more deals. <br /><br /><strong>-
            Manny B.</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"> </i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">It doesn't get much simplier. We keep track of incentives offered by dealers in Canada so
          that you can ensure that you are timing your purchase correctly.</p></div>
          <div class="col-lg-4 ml-auto">
            <p class="lead">It doesn't matter if you are looking for good finance rates, cash deals, or lease terms.  We keep track of it all.<br>
          Just check the history to see how frequently it's offered and if it is worth waiting for.</p></div>
          <div class="col-lg-4 ml-auto">
            <p class="lead">Oh, and of course this is 100% FREE. It was made with LOVE because I got pissed off at slick
          sales man trying to fleece me Screw their tactics</p>
            </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4"> <a class="btn btn-xl btn-outline-light" href="makes/"> <i
          class="fas fa-download mr-2"></i> Let's Save! </a> </div>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"> <a class="js-scroll-trigger d-block text-center text-white rounded"
    href="#page-top"><i class="fa fa-chevron-up"></i></a> </div>

{% endblock %}